body{
    font-family: Arial, sans-serif;
    background: radial-gradient(circle,gold 0%, gold 20%,  rgb(255, 106, 0) 80%, rgb(255, 106, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container{
  background: #fff;
  height: 600px;
  width: 380px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.Header-column{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    background: linear-gradient(to right, rgb(255, 60, 0), #f09819);
    color: white;
    text-align: center;
    padding-top: 2px;

}

.header-icon{
    padding-left: 100px;
    width:50px;
    height:50px;
}

.b-button{
padding-right: 90px;    
width: 40px;
height: 40px;;
}

.Navigation-slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myTab{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: relative;
   
}
.profile-icon{
    width: 28px;
}

.rest-icon{
    width :22px;
    padding-right: 4px;
}

.menu-icon{
    width:22px;
    padding-right: 2px;
    
}

.myTab.active::after {
    content: "";
    position: absolute;
    bottom:0;
    left: 5;
    width: 90%;
    height: 2px; 
    background-color: red;
}

.Food-section{
   padding-top: 2px;
   background: #efefef; 
   font-size: 12px;
   color:gray;
   
   }

.header-text{
    padding-left: 30px;
    font-weight: bold;
}

.Food-items{
  display: flex;
  padding-left: 30px;
  align-items:center;
  margin-bottom:5px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #ffffff;
  
}

.food-header{
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-icon
{
 width:80px;
}


.text-box{
    margin-left: 20px;

}

.food-text{
    color: rgb(102, 102, 102);
    font-size: 10px;
    padding-bottom: px;
    
}

.price{
    color:red;
    padding-right: 10px;
}




